<footer>
    <div class="f-info secbg">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook texts"></i>
            <i class="fa-brands fa-square-instagram texts"></i>
            <i class="fa-brands fa-linkedin texts"></i>
        </div>
        <div class="f-info-brand texts">&copy; Wonderlust Private Limited</div>
        <div class="f-info-links texts">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>