<nav class="navbar navbar-expand-md bg-body-light sticky-top secbg">
    <div class="container-fluid" style="justify-content: end !important;">
        <!-- <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a> -->
        <button class="navbar-brand dark" id="mode"><i class="fa-solid fa-moon" style="font-size: larger;  position: static;"></i></button>
        <button class="navbar-toggler texts navbtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link texts" href="/listings" title="See All Listings">All Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link texts" href="/listings/new" title="Create your own Listing">Add new Listing</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="ms-auto" style="display: flex;">
            <% if(!currUser) { %>
                <a class="nav-link texts" href="/signup" style="margin-right: 10px; margin-left: 10px;">Sign Up</a>
                <a class="nav-link texts" href="/login" style="margin-right: 10px;">Log In</a>
            <% } %>
            <% if(currUser) { %>
                <a class="nav-link texts" href="/logout" style="margin-right: 10px; margin-left: 10px;">Log Out</a>
            <% } %>
        </div>
    </div>
</nav>