<% layout("layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-10">
            <h3 class="texts mart">Create a new Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label texts">Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catchy Title" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label texts">Description</label>
            <textarea name="listing[description]" id="" cols="30" rows="5" placeholder="Enter Image Description" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter Valid Description</div>
        </div>
        <div class="mb-3">
            <label for="url" class="form-label texts">Image Url</label>
            <input type="text" name="listing[image]" placeholder="Enter Image Url" class="form-control">
            <div class="invalid-feedback">Enter Valid Image</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label texts">Price</label>
                <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control" required>
                <div class="invalid-feedback">Enter Valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label texts">Country</label>
                <input type="text" name="listing[country]" placeholder="Enter Country Name" class="form-control" required>
                <div class="invalid-feedback">Enter Valid Country</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label texts">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Location</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
        </div>
    </div>
</body>