:root{
    --pink: #fe424d;
}
.brightmd {
    --bg: #ffffff;
    --text: #282828;
    --sec: #ffffff;
}
.darkmd{
    --bg: #282828;
    --text: #ffffff;
    --sec: #31363F;
}
.dark {
    border: none;
    color: var(--text) !important;
    background-color: transparent;
}
.mart {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
body {
    background-color: var(--bg) !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bg {
    background-color: var(--bg) !important;
}
.secbg {
    background-color: var(--sec) !important;
}
.navbtn {
    background-color: #ffffff !important;
}
.texts {
    color: var(--text) !important;
}
.container {
    flex: 1;
}
/* navbar */
.fa-compass {
    color: var(--pink);
    font-size: 2rem;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: var(--text);
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, .f-info-socials{
    width: 100%;
}
.f-info-socials i {
    font-size: 1rem;
    margin-right: 1rem;
}
.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* cards */
.row {
    justify-content: center !important;
}
.card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
    background-color: var(--bg) !important;
}
.card-text p {
    font-weight: 400;
}
.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: var(--bg);
}

.add-btn {
    background-color: var(--pink) !important;
    border: none !important;
}
.del-btn {
    background-color: var(--text) !important;
    color: var(--bg) !important;
}

/* Edit Page */
.edit-btn {
    background-color: var(--pink) !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 25vw;
}
@media screen and (max-width : 1028px){
    .show-img {
        height: 45vh;
    }
}
.btns {
    display: flex;
}
.show-info {
    margin-top: 5px;
}
/* New Page */
input::placeholder {
    color: var(--text) !important;
    opacity: 1;
}
.form-control::placeholder {
    color: var(--text) !important;
}

/* Form control */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--pink) !important;
    border-color: var(--pink) !important;
}
.form-control {
    background-color: var(--sec) !important;
}